.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn-secondary {
    margin-left: 47%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}